@font-face {
    font-family: 'Bangers';
    src: local('Bangers'), url(./fonts/Bangers.ttf) format('truetype');
}

/* Regular */
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: local('Montserrat'), url(./fonts/Montserrat-Bold.ttf) format('truetype');
}
